body {
    background-color: var(--bgcolor);
    transition: all .2s linear;

    input[type="text"] {
        background: var(--bgcolor);
    }

    input {
        border-color: var(--border);
        color: var(--txtcolor);
    }

    span,
    p,
    strong,
    label {
        color: var(--txtcolor);
    }

    @include responsive (1000px) {
        input[type="radio"] {
            width: 12px;
            height: 12px;
        }
    }

    @include responsive (790px) {
        input[type="radio"] {
            width: 10px;
            height: 10px;
        }
    }

    @include responsive (550px) {
        input[type="radio"] {
            width: 7px;
            height: 7px;
        }
    }

    @include responsive (350px) {
        input[type="radio"] {
            width: 6px;
            height: 6px;
        }
    }
}

.content {
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    max-width: 1200px;
    height: 1571px;
    top: 0;
    left: 50%;
    margin-left: -600px;
    margin-top: 18rem;

    &:hover {
        overflow-y: auto;
    }

    @include responsive(1220px) {
        height: 130rem;
        top: 0;
        left: 0;
        margin: 0;
        margin-top: 110px;
        max-width: 100rem;
    }

    @include responsive(965px) {
        max-width: 800px;
        height: 1010px;
    }

    @include responsive(790px) {
        max-width: 600px;
        height: 785px;
        margin-top: 70px;
    }

    @include responsive(595px) {
        height: 700px;
    }

    @include responsive(550px) {
        max-width: 450px;
        height: 600px;
        margin-top: 50px;
    }

    @include responsive(450px) {
        height: 580px;
    }

    @include responsive(435px) {
        height: 540px;
    }

    @include responsive(415px) {
        height: 520px;
    }

    @include responsive(395px) {
        height: 480px;
        margin-top: 35px;
    }

    @include responsive(350px) {
        height: 400px;
        max-width: 320px;
    }
}

.info-personagem {
    .container {


        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                display: flex;
                width: 33%;
                border: 1px solid var(--border);
                padding: 10px;

                label {
                    font-size: 1.5rem;
                }

                input {
                    width: 70%;
                    margin-left: 5px;
                    flex-grow: 1;
                    background: none;
                    border-bottom: 1px solid var(--border);
                    padding-left: 5px;
                    font-family: 'Lexend Peta', sans-serif;
                }
            }
        }

        @include responsive(1200px) {
            ul {
                li {

                    label,
                    input {
                        font-size: 1.3rem;
                    }
                }
            }

        }

        @include responsive(965px) {
            ul {
                li {

                    label,
                    input {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        @include responsive(790px) {
            ul {
                li {

                    label,
                    input {
                        font-size: 1rem;
                    }
                }
            }
        }

        @include responsive(550px) {
            ul {
                li {
                    padding: 1px;

                    label,
                    input {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}

.atributos {
    .container {

        p {
            margin: 5px 0;
            width: 99%;
            text-align: center;
            font-size: 19px;
            padding-bottom: 5px;
            border-bottom: 2px solid var(--border);
        }

        .pontos {
            display: flex;
            justify-content: space-around;

            p {
                border: none;
            }

            .valores {
                width: 32%;

                .desc {
                    border-left: 1px solid var(--border);
                    display: flex;
                    justify-content: space-between;
                    padding: 2.5px 45px;

                    span {
                        width: 50%;
                        font-size: 1.6rem;
                        text-align: center;
                    }

                }

                .sem-borda {
                    border-left: none;
                }

            }
        }

        .corpo-e-mente {
            display: flex;
            margin-top: 15px;
            justify-content: center;

            .vitalidade,
            .vontade {
                display: flex;
                flex-direction: column;
                align-items: center;

                strong {
                    font-size: 26px;
                }
            }

            .pontos-de-vitalidade {
                display: flex;
            }

            .pontos-de-vontade {
                display: flex;
                margin-left: 20px;
            }

            .ponto {
                cursor: pointer;
                max-width: 30px;

                &:not(:first-child) {
                    margin-left: 2px;
                }

            }
        }

        @include responsive(965px) {
            .pontos {
                .valores {
                    .desc {
                        padding: 0;
                    }
                }
            }
        }

        @include responsive(600px) {
            .pontos {
                .valores {
                    .desc {
                        span {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        @include responsive(550px) {
            strong {
                font-size: 1.2rem;
            }

            i {
                font-size: 1.1rem;
            }

            .corpo-e-mente {

                .vitalidade,
                .vontade {
                    strong {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        @include responsive(450px) {

            i {
                font-size: 1.0rem;
            }
        }

        @include responsive(380px) {

            .desc {
                .qnt-pontos {
                    display: flex;
                }
            }
        }

        @include responsive(350px) {
            .pontos {
                .valores {
                    .desc {
                        span {
                            font-size: .8rem;
                        }
                    }
                }
            }
        }
    }
}

.habilidades {
    .container {

        p {
            margin: 5px 0;
            width: 99%;
            text-align: center;
            font-size: 19px;
            padding-bottom: 5px;
            border-bottom: 2px solid var(--border);
        }

        .pontos {
            display: flex;
            justify-content: space-around;
            margin-top: 2rem;

            p {
                border: none;
            }

            .section {
                

                .desc {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2rem;

                    input[type="text"] {
                        border-bottom: 1px dotted var(--border);
                        flex-grow: 1;
                        padding-left: 5px;
                        font-family: 'Lexend Peta', sans-serif;
                        font-size: 1rem;
                        overflow-x: hidden;
                    }

                    span {
                        font-size: 1.6rem;
                        white-space: nowrap;
                    }

                    .qnt-pontos {
                        display: flex;
                        gap: 2px;
                    }
                }
            }

        }

        @include responsive(790px) {
            .pontos {
                .section {
                    .desc {
                        span {
                            font-size: 1.2rem;
                        }

                        input {
                            font-size: 0.8rem;
                        }

                        .qnt-pontos {
                            display: flex;
                            gap: 1px;
                        }
                    }
                }
            }
        }

        @include responsive(550px) {
            strong {
                font-size: 1.2rem;
            }

            .pontos {
                .section {
                    .desc {
                        span {
                            font-size: 1rem;
                        }

                        input {
                            font-size: 0.7rem;
                        }

                        .qnt-pontos {
                            display: flex;
                            gap: 1px;
                        }
                    }
                }
            }
        }

        @include responsive(450px) {
            .pontos {
                .section {
                    .desc {
                        margin-bottom: 1rem;

                        span {
                            font-size: .8rem;
                        }

                        input {
                            font-size: 0.6rem;
                        }

                        .qnt-pontos {
                            gap: 0px;
                        }
                    }
                }
            }
        }

        @include responsive(350px) {
            .pontos {
                .section {
                    .desc {
                        margin-bottom: 1rem;

                        span {
                            font-size: .7rem;
                        }

                        input {
                            font-size: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

.disciplinas {
    p {
        margin: 5px 0;
        width: 99%;
        text-align: center;
        font-size: 19px;
        padding-bottom: 5px;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .disciplina {
            width: 33%;
            display: flex;
            flex-direction: column;
            border-top: 1px solid var(--border);
            border-right: 1px solid var(--border);



            input[type="text"] {
                height: 30px;
                padding: 1rem;
                font-size: 15px;
                font-family: 'Lexend Peta', sans-serif;
                overflow-x: hidden;
                border-bottom: 1px solid var(--border);
            }

            &:nth-child(2) {
                border-left: 1px solid var(--border);
            }

            &:nth-child(5) {
                border-left: 1px solid var(--border);
            }

            &:nth-child(8) {
                border-left: 1px solid var(--border);
            }

            &:nth-child(-n+10) {
                border-top: none;
            }

            &:nth-child(-n+4) {
                border-top: 1px solid var(--border);
            }



            .nome {
                display: flex;

                input[type="text"] {
                    padding: 1rem;
                    font-weight: 700;
                    font-size: 15px;
                    font-family: 'Lexend Peta', sans-serif;
                    flex-grow: 1;
                }

                .qtd-pontos {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid var(--border);
                }
            }

        }

        @include responsive(790px) {
            .disciplina {
                input[type="text"] {
                    font-size: 1rem;
                    padding: .5rem;
                }

                .nome {
                    input[type="text"] {
                        font-size: .8rem;
                        padding: .5rem;
                    }
                }
            }

        }

        @include responsive(550px) {
            strong {
                font-size: 1.2rem;
            }

            .disciplina {
                input[type="text"] {
                    font-size: .6rem;
                    padding: .3rem;
                }

                .nome {
                    input[type="text"] {
                        font-size: .6rem;
                        padding: .3rem;
                    }
                }
            }

        }

        @include responsive(405px) {

            .disciplina {
                input[type="text"] {
                    font-size: .5rem;
                    padding: .2rem;
                }

                .nome {
                    input[type="text"] {
                        font-size: .5rem;
                        padding: .2rem;
                    }
                }
            }

            @include responsive(350px) {

                .disciplina {
                    input[type="text"] {
                        font-size: .5rem;
                        padding: .2rem;
                    }

                    .nome {
                        input[type="text"] {
                            font-size: .45rem;
                            padding: .1rem;
                        }
                    }
                }
            }
        }
    }
}

.stats {
    .container {
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;

        strong {
            font-size: 1.6rem;
            font-weight: 700;
        }

        .ressonancia {
            white-space: nowrap;

            input {
                border-bottom: 1px dotted var(--border);
                flex-grow: 1;
                padding-left: 5px;
                font-family: 'Lexend Peta', sans-serif;
                font-size: 1.2rem;
                font-weight: 600;
                overflow-x: hidden;

            }

        }

        .fome {
            justify-content: center;
        }

        .fome,
        .humanidade {
            display: flex;
            width: 30rem;
            gap: 3px;

            .pontos {
                display: flex;
                gap: 3px;

                .ponto {
                    width: 2rem;
                }
            }
        }

        @include responsive(1000px) {
            justify-content: center;
        }

        @include responsive(965px) {

            input {
                max-width: 180px;
            }

            .humanidade,
            .fome {
                .pontos {
                    .ponto {
                        width: 1.5rem;
                    }
                }
            }

        }

        @include responsive(790px) {
            strong {
                font-size: 1rem;
            }

            .humanidade,
            .fome {
                .pontos {
                    .ponto {
                        width: 1rem;
                    }
                }
            }
        }

        @include responsive(550px) {
            strong {
                font-size: .8rem;
            }

            .ressonancia {
                input {
                    max-width: 8rem;
                }
            }

            .humanidade,
            .fome {
                .pontos {
                    .ponto {
                        width: 1rem;
                    }
                }
            }
        }

        @include responsive(395px) {


            .ressonancia {
                input {
                    font-size: .8rem;
                    max-width: 7rem;
                }
            }

            .humanidade,
            .fome {
                .pontos {
                    gap: 1px;

                    .ponto {
                        width: 1rem;
                    }
                }
            }
        }

        @include responsive(350px) {


            .ressonancia {
                input {
                    font-size: .5rem;
                    max-width: 5rem;
                }
            }

            .humanidade,
            .fome {
                .pontos {
                    gap: .5px;

                    .ponto {
                        width: .8rem;
                    }
                }
            }
        }
    }
}

.vantagens-defeitos-potencia-xp {
    .container {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        gap: 2px;

        .vantagens,
        .defeitos {
            width: 33%;

            strong {
                font-size: 1.6rem;
                font-weight: 700;
            }

            .vantagem {
                &:not(:nth-child(2)) {
                    border-top: none;
                }

                border: 1px solid var(--border);
                display: flex;
                justify-content: space-around;
                align-items: center;

                input[type="text"] {
                    flex-grow: 1;
                    height: 30px;
                    padding: 1rem;
                    font-size: 15px;
                    font-family: "Lexend Peta", sans-serif;
                    overflow-x: hidden;
                }

                .qtd-pontos {
                    margin-right: 2px;
                    white-space: nowrap;
                    display: flex;
                }
            }
        }

        .potencia-xp {
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33%;

            .potencia {
                display: flex;
                gap: 1rem;

                span {
                    font-size: 1.6rem;
                    font-weight: 700;
                }

                .qtd-pontos {
                    display: flex;
                    gap: 1px;
                    margin-right: 2px;
                }
            }

            table {
                margin-top: 1rem;
                border-collapse: collapse;

                td {
                    width: 18.5rem;
                    height: 5rem;
                    border: 1px solid var(--border);

                    span {
                        display: block;
                        font-size: 1.3rem;
                    }

                    input {
                        height: 30px;
                        font-size: 30px;
                        font-family: "Lexend Peta", sans-serif;
                        width: 18rem;
                    }


                }
            }

            .xp {
                margin-top: 2rem;

                span {
                    display: block;
                    font-size: 1.6rem;
                    font-weight: 700;
                }

                input {
                    flex-grow: 1;
                    height: 30px;
                    padding: 1rem;
                    font-size: 15px;
                    font-family: "Lexend Peta", sans-serif;
                    border-bottom: 1px solid var(--border);
                }
            }
        }

        @include responsive(1220px) {
            .potencia-xp {
                .potencia {
                    width: 100%;
                    justify-content: flex-start;
                }

                table {
                    td {
                        input {
                            width: 12rem;
                        }
                    }
                }

            }
        }

        @include responsive(965px) {
            .potencia-xp {
                margin-left: 0;

                .xp {
                    input {
                        width: 18rem;
                    }
                }

                table {
                    td {
                        input {
                            width: 12rem;
                        }
                    }
                }

            }
        }

        @include responsive(790px) {

            .vantagens,
            .defeitos {
                width: 30%;

                .vantagem {
                    input[type="text"] {
                        font-size: .7rem;
                        padding: .5rem;
                    }

                }
            }

            .potencia-xp {

                .xp {
                    input {
                        width: 10rem;
                    }
                }

                table {
                    td {
                        input {
                            width: 8rem;
                        }
                    }
                }

            }
        }

        @include responsive(790px) {

            .vantagens,
            .defeitos {
                width: 33%;

                .vantagem {
                    input[type="text"] {
                        font-size: .6rem;
                        padding: .1rem;
                    }
                }
            }

            .potencia-xp {

                .xp {
                    input {
                        width: 10rem;
                    }
                }

                table {
                    td {
                        input {
                            width: 5rem;
                        }
                    }
                }

            }
        }

        @include responsive(430px) {

            .vantagens,
            .defeitos {
                strong {
                    font-size: 1rem;
                }

                .vantagem {
                    input[type="text"] {
                        font-size: .6rem;
                        padding: .1rem;
                    }
                }
            }

            .potencia-xp {
                .potencia {
                    span {
                        font-size: 1rem;
                    }
                }

                .xp {
                    strong {
                        font-size: 1rem;
                    }

                    input {
                        width: 8rem;
                    }
                }

                table {
                    td {
                        span {
                            font-size: 1rem;
                        }

                        input {
                            width: 4rem;
                        }
                    }
                }

            }
        }

        @include responsive(350px) {

            .vantagens,
            .defeitos {
                .vantagem {
                    input[type="text"] {
                        font-size: .5rem;
                        padding: .05rem;
                    }
                }
            }

            .potencia-xp {
                .potencia {
                    flex-direction: column;

                    span {
                        white-space: nowrap;
                        font-size: 1rem;
                    }
                }

                .xp {
                    strong {
                        font-size: 1rem;
                    }

                    input {
                        width: 8rem;
                    }
                }

                table {
                    td {
                        span {
                            font-size: .8rem;
                        }

                        input {
                            width: 3rem;
                        }
                    }
                }

            }
        }
    }
}

.anotacoes {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 19px;
        }

        textarea {
            color: var(--txtcolor);
            appearance: none;
            background-color: var(--bgcolor);
            border: 1px solid var(--border);
            font-size: 16px;
            padding: 5px;
        }
    }
}